extends ./../../layouts/header.pug
//- title
block title 
    title= title

//- css link
block cssLink
    link(rel="stylesheet", href="/css/login.css")

//- script added 
block jsScript
    script(src="/js/confirmation.js" defer)

block bodyContent
    .signInContainer
        .wrapper
            .loginWrapper
                .social_icon
                    i.fab.fa-twitter
                
                h2 Create New Password
                //- form 
                form(action="/createNewPassword", method="post" )
                    
                    //- password
                    label(for="password") Password

                    .pwd_field
                        i.user_icon.fas.fa-lock
                        input#password(type="password", name="password" class="form-control" required='' )
                        span#passwordEyeIcon 
                            i.fas.fa-eye-slash
                       
                    if(error.password)
                        p.error.password-error.py-2 #{error.password.msg}
                    //- password
                    label(for="confirmpassword")   Confirm Password

                    .pwd_field
                        i.user_icon.fas.fa-lock
                        input#confirmPassword(type="password", name="confirmpassword" class="form-control" required='' )
                        span#confirmPasswordEyeIcon 
                            i.fas.fa-eye-slash

                    input(type="hidden", name="otp" value=otp.otp)
                    input(type="hidden", name="otpId" value=otp.otpId)
                    if(error.confirmpassword)
                        p.error.password-error.py-2 #{error.confirmpassword.msg}

                    //-submit button 
                    input(type="submit", value="Update And Save" class="form-control login_btn")

                //- text 
                .reset-container.d-flex.justify-content-between.py-3 
                    p.disclaim Need to login ?
                        a(href="/login")  Log in
