extends ../../layouts/header.pug


block title
    title= title 



block cssLink
    link(rel="stylesheet", href="/css/createNewPassword.min.css")



block jsScript
    script(src="/js/createNewPassword.js" defer) 



block bodyContent
    .signin-section
        .wrapper
            .signin-wrapper
                div.social-icon
                    i.fab.fa-twitter

                h2 Create New Password

                form(action='/createNewPassword', method="post")

                    label(for="password") Password

                    .user-input.passContainer 
                        i.user-icon.fas.fa-user
                        input#password(type="password", placeholder="Enter New Password" name="password"  class="form-control" value= user.password)
                        span#passEyeIcon 
                            i.fas.fa-eye-slash

                        if error.password
                            p.error.userName-error #{error.password.msg}

                    label(for="confirmPassword")  Confirm Password

                    .user-input.passContainer 
                        i.user-icon.fas.fa-lock
                        input#confirmPassword(type="password", placeholder="Re-enter New Password" name="confirmPassword"  class="form-control" value= user.confirmPassword)
                        span#confirmPassEyeIcon 
                            i.fas.fa-eye-slash

                        if error.confirmPassword
                            p.error.userName-error #{error.confirmPassword.msg}

                        input(type="hidden", name="otp"  class="form-control" value=otp.otp)

                        input(type="hidden", name="otpId"  class="form-control" value=otp.otpId)


                    p#pass_errors 
                    p#pass_matched


                    input(type="submit", value="Save and Sign In" class="form-control signin-btn")

                .disclaimer 
                    p.disclaim New User? 
                        a(href='/signin') Sign In Here