extends ./../layouts/header.pug
//- title
block title 
    title= title

//- css link
block cssLink
    link(rel="stylesheet", href="/css/signup.css")

//- script added 
block jsScript
    script(src="/js/signup.js" defer) 

//- body 
block bodyContent
    .signUpContainer
        .wrapper
            .signUpWrapper
                .social_icon
                    i.fab.fa-twitter
                
                h2 Join Twitter today
                //- form 
                form.position-relative(action='/signup', method="post" enctype="multipart/form-data")

                    .signup-content 

                        div
                            label(for="firstName") First Name

                            input#firstName(type="text", name="firstName" class="form-control" value= user ? user.firstName : '' required="")

                            if error.firstName 
                                p.error.firstName-error #{error.firstName.msg}

                        div
                            label(for="lastName") Last Name

                            input#lastName(type="text", name="lastName" class="form-control" value= user ? user.lastName : '' required="")

                            if error.lastName 
                                p.error.lastName-error #{error.lastName.msg}

                    .signup-content

                        div.position-relative 
                            label(for="username") User Name

                            input#username(type="text", name="username" class="form-control" value= user ? user.username : '' required="")

                            if error.username 
                                p.error.username-error #{error.username.msg}                                                     
                            p#userMsg.position-absolute Username Already Taken
                    
                        div.position-relative
                            label(for="email") Email

                            input#email(type="email", name="email" class="form-control" value= user ? user.email : '' required="")

                            if error.email 
                                p.error.email-error #{error.email.msg}
                            p#emailMsg.position-absolute Email already exist
                    .signup-content

                        div 
                            label(for="password")  Password

                            .passwordContainer 
                                input#password(type="password", name="password" class="form-control" value= user ? user.password : '' required="")
                                span#passwordEyeIcon 
                                    i.fas.fa-eye-slash 

                            if error.password 
                                p.error.password-error #{error.password.msg}


                        div 
                            label(for="confirmpassword")  Confirm password
                            .passwordContainer
                                input#confirmpassword(type="password", name="confirmpassword" class="form-control" value= user ? user.confirmpassword : '' required="")
                                span#confirmPasswordEyeIcon 
                                        i.fas.fa-eye-slash
                            
                            if error.confirmpassword 
                                p.error.confirmpassword-error #{error.confirmpassword.msg}
                    
                    p.text-danger.mt-3.position-absolute#passError



                    label(for="avatarProfile")  Profile Avatar

                    input#avatarProfile(type="file", name="avatarProfile" class="form-control avatar-input" accept=".jpg, .jpeg, .png, .svg")
                    if error.avatarProfile 
                        p.error.confirmpassword-error #{error.avatarProfile.msg}
                        
                    input(type="submit", value="Sign Up" class="form-control signup-btn")

                p.disclaim.mt-3 Already have an account? 
                    a(href='/login') sign in here