extends ./../layouts/header.pug


block title
    title= title 



block cssLink
    link(rel="stylesheet", href="/css/signup.min.css")





block jsScript
    script(src="/js/signup.js" defer) 



block bodyContent
    .signup-section
        .wrapper
            .signup-wrapper
                div.social-icon
                    i.fab.fa-twitter

                h2 Join Twitter today

                form.position-relative(action='/signup', method="post" enctype="multipart/form-data")

                    .signup-content 

                        div
                            label(for="firstName") First Name
                                input#firstName(type="text", name="firstName" class="form-control" value= user ? user.firstName : '' required="")
                                

                            if error.firstName 
                                p.error.firstName-error #{error.firstName.msg}

                        div
                            label(for="lastName") Last Name

                            input#lastName(type="text", name="lastName" class="form-control" value= user ? user.lastName : '' required="")

                            if error.lastName 
                                p.error.lastName-error #{error.lastName.msg}

                    .signup-content

                        div.position-relative 
                            label(for="userName") User Name

                            input#userName(type="text", name="userName" class="form-control" value= user ? user.userName : '' required="")

                            if error.userName 
                                p.error.userName-error.position-absolute #{error.userName.msg}                             

                        div.position-relative 
                            label(for="email") Email

                            input#email(type="email", name="email" class="form-control" value= user ? user.email : '' required="")

                            if error.email 
                                p.error.email-error.position-absolute #{error.email.msg}

                    .signup-content

                        div 
                            label(for="password")  Password
                            .passContainer.d-flex.align-items-center
                                input#password(type="password", name="password" class="form-control" value= user && !error.password && !error.confirmPassword ? user.password : '' required="")

                                span#passEyeIcon 
                                    i.fas.fa-eye-slash 

                            if error.password
                                p.error.password-error #{error.password.msg}

                        div 
                            label(for="confirmPassword")  Confirm password
                            .passContainer.d-flex.align-items-center
                                input#confirmPassword(type="password", name="confirmPassword" class="form-control" value= user && !error.password && !error.confirmPassword ? user.confirmPassword : '' required="")

                                span#confirmPassEyeIcon 
                                    i.fas.fa-eye-slash

                            if error.confirmPassword 
                                p.error.confirmPassword-error #{error.confirmPassword.msg}

                    p#pass_errors.position-absolute 
                    p#pass_matched.position-absolute 

                    label(for="avatarProfile")  Profile Avatar

                    input#avatarProfile(type="file", name="avatarProfile" class="form-control avatar-input" accept=".jpg, .jpeg, .png, .svg")
                    if error.avatarProfile 
                        p.error.confirmPassword-error #{error.avatarProfile.msg}
                        
                    input(type="submit", value="Sign Up" class="form-control signup-btn")

                p.disclaim Already have an account? 
                    a(href='/signin') sign in here